services:
  app:
    build: .
    networks:
      - sem-net
    depends_on:
      - db
  
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: world  
    ports:
      - "3306:3306"
    volumes:
      - ./databases/world.sql:/docker-entrypoint-initdb.d/world.sql:ro
    networks:
      - sem-net
    
networks:
  sem-net:
    driver: bridge
